[submodule "src/app/mr_micro_shell"]
	path = src/app/mr_micro_shell
	url = https://github.com/Nrusher/nr_micro_shell.git
[submodule "src/app/mongoose"]
	path = src/app/mongoose
	url = https://github.com/InverseSkyTeam/nitianos-mongoose.git
[submodule "src/app/libc-testsuite"]
	path = src/app/libc-testsuite
	url = git://git.musl-libc.org/libc-testsuite
[submodule "src/app/musl"]
	path = src/app/musl
	url = https://git.musl-libc.org/git/musl
[submodule "third_modules/libc-testsuite"]
	path = third_modules/libc-testsuite
	url = git://git.musl-libc.org/libc-testsuite
[submodule "third_modules/mr_micro_shell"]
	path = third_modules/mr_micro_shell
	url = https://github.com/Nrusher/nr_micro_shell.git
[submodule "third_modules/musl"]
	path = third_modules/musl
	url = https://git.musl-libc.org/git/musl
[submodule "third_modules/toybox"]
	path = third_modules/toybox
	url = https://github.com/landley/toybox.git
